:root {
    padding: 0;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --gray: #7f7f7f;
    --accent: #e8e5e480;
    /* background-color: rgb(232, 232, 232); */
    --fs-500: 2.5rem;
    --fs-900: 4.5rem;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
    color: black;
}

/* header */
header {
    display: flex;
}

header > .name-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 5rem;
    padding: 1rem 3rem;
    font-weight: 600;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1;
}

nav ul {
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    /* max-width: 30%; */
    padding: 1rem 1.5rem;
    border-radius: 50px;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

nav > ul > a {
    text-decoration-line: none;
    color: black;
}

/* hero */
.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}

.hero-text h1 {
    text-align: center;
    font-weight: 500;
    font-size: var(--fs-900);
    max-width: 80%;
}

.details ul {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.details li {
    border-style: solid;
    border-radius: 50px;
    border-style: none;
    padding: 0.5rem 0.8rem;
    background-color: var(--accent);
}

/* skillset */
.skill-container {
    display: flex;
    align-items: center;
    padding: 2rem;
    flex-direction: column;
}

.skill-container > ul {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 2rem;
    justify-content: center;
}

.skill-btn {
    display: flex;
    border: 2px black solid;
    border-radius: 30px;
    padding: 0 1rem;
    align-items: center;
    gap: 0.1rem;
}

.skill-btn > img {
    aspect-ratio: 1/1;
    width: 3rem;
}

/* skills: specifics */
#github,
#postman {
    height: 30px;
    width: 30px;
}

/* text style */
.skill-container > p,
.end-1,
.end-2,
.projects > p {
    font-size: var(--fs-500);
    font-weight: 500;
    text-decoration-line: underline;
}

/* Projects */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.image-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 30px;
    width: clamp(10%, 60rem, 80%);
}

.image-wrapper > img {
    aspect-ratio: 1.65/1;
    object-fit: cover;
    width: 100%;
    object-position: center;
}

.image-wrapper > p {
    position: absolute;
    text-align: center;
    opacity: 0;
    font-size: var(--fs-500);
    font-weight: 700;
    color: black;
}

.image-wrapper > a {
    position: absolute;
    margin-top: 35%;
    opacity: 0;
}
.image-wrapper > a > button {
    border-radius: 30px;
    border: none;
    color: white;
    width: 10rem;
    height: 3rem;
    font-size: 1.75rem;
    font-weight: bolder;
    background-color: black;
    cursor: pointer;
}

.image-wrapper,
.image-wrapper > p,
.image-wrapper > img,
.image-wrapper > a {
    transition: 200ms ease-in-out;
}

.image-wrapper:hover > p,
.image-wrapper:hover > a {
    opacity: 1;
}

.image-wrapper:hover > img {
    filter: blur(15px);
    opacity: 70%;
}
.image-wrapper:hover {
    box-shadow: -8px 3px 20px -1px rgba(0, 0, 0, 0.58);
    -webkit-box-shadow: -8px 3px 20px -1px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: -8px 3px 20px -1px rgba(0, 0, 0, 0.58);
    transform: scale(1.01);
}

/* footer */
.end-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10%;
    padding: 2rem;
}

.end-1 {
    text-align: center;
    margin: -3px;
    text-decoration-line: none;
}

.end-2 {
    color: var(--gray);
    text-align: center;
    margin: -3px;
    text-decoration-line: none;
    width: fit-content;
}

.end-2:hover {
    opacity: 70%;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: auto;
}

footer .name {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

footer ul {
    gap: 1rem;
    display: flex;

    :hover {
        opacity: 70%;
        cursor: pointer;
    }
}

.btn-container {
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.btn-container button {
    color: white;
    background-color: black;
    border: none;
    padding: 0.8rem;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
}

/* for smartphones */
@media (max-width: 840px) {
    .hero-text h1 {
        font-size: 2.5rem;
        margin-top: 20%;
        max-width: 100%;
    }

    nav ul {
        max-width: 80%;
        gap: 1rem;
    }

    .details {
        margin-bottom: 20%;
    }

    .details ul {
        gap: 0.5rem;
    }

    .image-wrapper > p,
    .image-wrapper > a > button {
        font-size: 1.5rem;
    }

    .skill-btn {
        margin: auto;
    }

    .end-1,
    .end-2 {
        font-size: x-large;
    }
}

@media (max-width: 385px) {
    .hero-text {
        width: 100vw;
        margin-left: 10%;
    }
    .details {
        width: 100vw;
        margin-left: 7%;
    }

    .skill-container {
        width: 100vw;
    }

    .projects {
        width: 100vw;
        margin-left: 10%;
    }

    .end-text {
        width: 100%;
        margin-left: 7%;
    }
}
