body {
    background-color: #141d1f;
    background-image: url("/assets/images/bg2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}

header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

.dot {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: #fff;
    margin: 100%;
}

.pg-btn {
    margin-right: 5%;
    margin-top: 10vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: Inter;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 42px;
    margin-right: 10%;
    margin-top: 4%;
    margin-left: 5%;
}

.title-text {
    margin-left: 0%;
    margin-right: -50px;
}

#r {
    font-size: 400px;
    transform: translateY(0vh);
    margin-left: 0%;
    margin-right: 0%;
    font-weight: 600;
}

.btn-img {
    height: 15px;
    margin-top: 3vh;
    margin-left: 3vh;
}

.title-r {
    color: #fff;
    font-family: Inter;
    font-size: 400px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 112px;
}

.link {
    margin-left: 5vh;
    margin-top: 3vh;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.92px;
    text-decoration: none;
}

nav {
    display: flex;
    position: static;
    justify-content: space-between;
    margin-left: 50vh;
}

.login {
    margin-top: 1.5vh;
    display: flex;
    margin-right: 20px;
}

.login a {
    margin-top: 1.5vh;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.92px;
    text-decoration: none;
}

.login button {
    display: flex;
    border-radius: 50vh;
    padding-top: 0%;
    margin-top: 0.75vh;
    height: 30px;
    background-color: transparent;
    color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.38px;
    border-color: #fff;
}

.login button div {
    margin-top: 0.5vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

#line {
    border: 2px solid #fff;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 0%;
}

.socials {
    display: flex;
    max-width: max-content;
    padding: 1%;
    position: relative;
    transform: translateX(100%);
    align-items: center;
    max-height: 3em;
}

.socials button {
    display: flex;
    min-width: 40rem;
    height: 50px;
    justify-content: center;
    border-radius: 50em;
    background-color: rgba(65, 99, 89, 0.4);
    background-blend-mode: color;
    border-color: transparent;
    box-shadow: 8px 8px 12px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 8px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 12px 1px rgba(0, 0, 0, 0.75);
}

.socials button span {
    display: flex;
    align-items: center;
    margin-top: -0.3em;
    margin-right: 3p0x;
}

.socials button span p {
    color: #182628;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 5.6px;
}

ul {
    list-style-type: none;
}
