body {
    background-color: #def2f1;
    background-image: url("assets/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: 70px;
}

header {
    display: flex;
    height: 10vh;
    justify-content: space-between;
}

.dot {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: #182628;
    margin: 100%;
}

.pg-btn {
    margin-right: 5%;
    margin-top: 10vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #182628;
    font-family: Inter;
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 42px;
    margin-right: 10%;
    margin-top: 4%;
    margin-left: 5%;
}

.title-text {
    margin-left: 0%;
    margin-right: -50px;
}

#r {
    font-size: 400px;
    transform: translateY(0vh);
    margin-left: 0%;
    margin-right: 0%;
    font-weight: 600;
}

.btn-img {
    height: 15px;
    margin-top: 3vh;
    margin-left: 3vh;
}

.title-r {
    color: #182628;
    font-family: Inter;
    font-size: 400px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 112px;
}

.link {
    margin-left: 5vh;
    margin-top: 3vh;
    color: #182628;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.92px;
    text-decoration: none;
}

nav {
    display: flex;
    position: static;
    justify-content: space-between;
    margin-left: 50vh;
}

.login {
    margin-top: 1.5vh;
    display: flex;
    margin-right: 20px;
}

.login a {
    margin-top: 1.5vh;
    color: #182628;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.92px;
    text-decoration: none;
}

.login button {
    display: flex;
    border-radius: 50vh;
    padding-top: 0%;
    margin-top: 0.75vh;
    height: 30px;
    background-color: transparent;
    color: #182628;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.38px;
}

.login button div {
    margin-top: 0.5vh;
    margin-left: 2vh;
    margin-right: 2vh;
}

#line {
    border: 2px solid #182628;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 0%;
}

html,
body {
    position: relative;
    height: 100%;
}

.swiper {
    width: 30%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
