/* css reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
    margin: 0;
    font: inherit;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

/* ------------------------------------code start------------------------------------------- */

html {
    background-color: #def2f1;
    background-image: url("assets/images/bg.png");
    background-size: cover;
    background-repeat: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.dot {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    background-color: #182628;
    margin: 100%;
}

.pg-btn {
    margin-right: 5%;
    margin-top: 10vh;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #182628;
    font-weight: 700;
    margin-left: 7%;
}

.title-text {
    font-size: 9rem;
}

.btn-img {
    height: 15px;
    margin-top: 3vh;
    margin-left: 3vh;
}

.link {
    margin-left: 5vh;
    margin-top: 3vh;
    color: #182628;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.92px;
    text-decoration: none;
    min-width: 30%;
}

nav {
    display: flex;
    position: static;
    justify-content: space-between;
    margin-left: 50vh;
}

.login {
    margin-top: 1.5vh;
    display: flex;
    margin-right: 20px;
    margin-left: 10rem;
}

.login a {
    margin-top: 1.5vh;
    color: #182628;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.92px;
    text-decoration: none;
}

.login button {
    display: flex;
    border-radius: 50vh;
    padding-top: 0%;
    margin-top: 0.75vh;
    height: 30px;
    background-color: transparent;
    color: #182628;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.38px;
    box-shadow: 1px 7px 21px -5px rgba(0, 0, 0, 0.74);
    -webkit-box-shadow: 1px 7px 21px -5px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 1px 7px 21px -5px rgba(0, 0, 0, 0.74);
}

.login button div {
    margin-top: 0.5vh;
    margin-left: 2vh;
    margin-right: 2vh;
    min-width: 17ch;
}

#line {
    border: 2px solid #182628;
    height: 40px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 0%;
}

.socials {
    display: flex;
    max-width: max-content;
    float: right;
    align-items: center;
}

.socials button {
    display: flex;
    min-width: 40rem;
    justify-content: center;
    border-radius: 50em;
    background-color: rgba(65, 99, 89, 0.4);
    background-blend-mode: color;
    border-color: transparent;
    box-shadow: 8px 8px 12px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 8px 8px 12px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 12px 1px rgba(0, 0, 0, 0.75);
}

.socials button span {
    display: flex;
    align-items: center;
    margin-top: -0.3em;
}

.socials button span p {
    color: #182628;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 5.6px;
}

ul {
    list-style-type: none;
}
